*, *::before, *::after {
  box-sizing: border-box;
}

.card-container {
  background-color: rgb(204, 204, 204);
  align-items: center;
  text-align: center;
}

img {
  width: 100%;
}

.body-content {
  width: auto;
  background-position: bottom;
  padding-top: 5px;
}

.title h1 {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

li p {
  display: inline-block;
  padding: 2px;
}

#registry-container {
  padding-bottom: 10px;
}

#secondary-message {
  font-weight: bold;
  font-size: small;
}

.form-content {
  padding-bottom: 10px;
}

.questions-container h4 {
  padding-top: 5px;
}

TextField {
  background-color: ghostwhite;
}


.checkbox-container input {
  width: 25px;
  height: 20px;
}

.button-container {
  padding-top: 15px;
}